@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Playfair Display", serif;
}

html,
body {
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* .header {
  background-image: url("/public/header.png");
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  position: relative;
  z-index: 2;
} */

.header-black {
  background: linear-gradient(180deg,
      rgba(30, 42, 56, 0.9) 11.06%,
      rgba(30, 42, 56, 0.85) 22.12%,
      rgba(30, 42, 56, 0.819767) 38.46%,
      rgba(30, 42, 56, 0.537972) 59.62%,
      rgba(30, 42, 56, 0.320222) 75.96%,
      rgba(30, 42, 56, 0.179324) 86.54%,
      rgba(30, 42, 56, 0) 100%);
  z-index: 1;
}

.gold_button {
  background: radial-gradient(40.35% 49.83% at 50.18% 50.91%,
      #f8e0b0 40.87%,
      #dfb868 100%);
  flex-shrink: 0;
  color: #1d2d3c;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.6px;

  cursor: pointer;
}

.about_list {
  background: rgba(74, 189, 197, 0.43);
}

.swiper {
  width: 100%;
  height: 100%;
}

.bg_section {
  margin-top: 150px;
  background-image: url("/bgSec.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_filter {
  background: linear-gradient(180deg,
      rgba(30, 42, 56, 0.53) 11.06%,
      rgba(30, 42, 56, 0.53) 22.12%,
      rgba(30, 42, 56, 0.53) 38.46%,
      rgba(30, 42, 56, 0.53) 59.62%,
      rgba(30, 42, 56, 0.32) 75.96%,
      rgba(30, 42, 56, 0.18) 86.54%,
      rgba(30, 42, 56, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welness_card {
  box-shadow:
    0px 16px 24px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.12);

}



.bg-11 {
  background-image: url('/22.jpg');
}